html {
	max-width: 1200px;
	margin: 0 auto;
	background: #ffda66;

	h1 {
		font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	}
	p {
		font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
	}
}
#wrap {
	width: 100%;
	margin: 0 auto;

}