@mixin device($type) {
	@if $type == ip {
		h1 {
			font-size: 2.5em;
		}
		h2 {
			font-size: 1.4em;			
		}
		p {
			font-size: 1em;
		}
		background: #ff3333;

	}
	@if $type == tab {
		h1 {
			font-size: 3.5em;
		}
		h2 {
			font-size: 1.4em;			
		}
		p {
			font-size: 1.3em;
		}
		background: #33ff33;
	}
	@if $type == pc {
		h1 {
			font-size: 4em;
		}
		h2 {
			font-size: 1.4em;			
		}
		p {
			font-size: 1.3em;
		}
		background: #3333ff;
	}
}

/* content */

html {
	h1 {
		font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
	}
	p {
		font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
	}
}
#wrap {
	width: 100%;
	margin: 0 auto;

}
header {
	width: 100%;
	height: 200px;
	margin: 0 auto;
	@include device($type);
	
	p, h1 {
		padding-top: 1%;
		text-align: center;
	}
}

#main {
	width: 100%;
	margin: 0 auto;
	@include device($type);

	.content {
		width: 33.3%;
		margin: 0 auto;
		@if $type == ip {
			float: none;
			width: 60%;
			margin: 0 auto;

			img {
				display: block;
				width: 200px;
				height: 200px;
				margin: 0 auto;
				border-radius: 100px;
				-moz-border-radius: 100px;
				-webkit-border-radius: 100px;
			}
		}
		@if $type == tab {
			float: left;
			img {
				display: block;
				width: 100%;
				border-radius: 15%;
				-moz-border-radius: 15%;
				-webkit-border-radius: 15%;
			}
		}
		@if $type == pc {
			float: left;
			img {
				display: block;
				width:100%;
			}
			article {
				visibility: hidden;
			}
			
		}
	}

	.content:hover {
		@if $type == pc {
			padding-bottom: 3%;
			background: rgba(200,200,200,0.4);

			article {
				visibility: visible;
			}
		}
	}
	.content:active {
		#acsess {
			visibility: visible;
			background: yellow;
		}
	}

	.main_content {
		width: 100%;
		margin: 0 auto;

		@if $type == ip {
			visibility: hidden;
		}
		@if $type == tab {
			visibility: hidden;
		}
		@if $type == pc {
			visibility: hidden;
		}
	}
}

footer {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	text-align: right;
	@include device($type);

}



.clear {
	clear:both;
}

