@mixin device($type) {
	@if $type == ip {
		h1 {
			font-size: 2em;
		}
		p {
			font-size: 1.5em;
		}
		background: #ff3333;

	}
	@if $type == tab {
		h1 {
			font-size: 1.5em;
		}
		p {
			font-size: 1em;
		}
		background: #33ff33;
	}
	@if $type == pc {
		h1 {
			font-size: 1em;
		}
		p {
			font-size: 0.5em;
		}
		background: #33ff33;
	}
}

@mixin layout($type){
	@if $type == ip {
		float: left;
	}
	@if $type == tab {
		float: none;
	}
	@if $type == pc {
		float: none;
	}
}

header {
	@include device($type);
}
main {
	@include device($type);
	@include layout($type);
}
footer {
	@include device($type);
}