$type:ip tab pc;
$smart: "only screen and (max-width: 480px)";
$tablet: "only screen and (min-width: 481px) and (max-width: 940px)";
$desktop: "only screen and (min-width: 1170px)"; 

@media #{$smart}{
	$type:ip;
	@import "device";
}
@media #{$tablet}{
	$type:tab;
	@import "device";
}
@media #{$desktop}{
	$type:pc;
	@import "device";
}
