@mixin device($type) {
	@if $type == ip {
		h1 {
			font-size: 3.5em;
			text-align: center;
		}
		h2 {
			font-size: 1.4em;			
		}
		p {
			font-size: 1em;
		}
		background: #facc66;

	}
	@if $type == tab {
		h1 {
			font-size: 3em;
			text-align: center;
		}
		h2 {
			font-size: 1.4em;			
		}
		p {
			font-size: 1.3em;
		}
		background: #feca78;
	}
	@if $type == pc {
		h1 {
			font-size: 2.5em;
			text-align: center;
		}
		h2 {
			font-size: 2em;			
		}
		p {
			font-size: 1.3em;
		}
		background: #fee199;
	}
}

@mixin common($type){
	html {
		max-width: 1200px;
		margin: 0 auto;
		background: #ffda66;

		h1 {
			font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
		}
		p {
			font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
		}
	}
	#wrap {
		width: 100%;
		margin: 0 auto;

	}

/* header */
	header {
		@include device($type);
	
		p, h1 {
			padding-top: 1%;
			text-align: center;
		}
		img {
			display: block;
			width: 100%;
		}
		@if ($type == ip){
			
		}@else {

		}
	}

/* footer */
	footer {
		@include device($type);
	
		#sns {
			width: 60%;
			margin: 0 auto;

			.sns {
				display: block;
				width: 33%;
				margin: 0 auto;
				float: left;
			}
			@if($type == ip){
				img {
					display: block;
					width: 50%;
					margin: 0 auto;
				}
			}@else{
				img {
					display: block;
					margin:0 auto;
				}
			}
		}
		#link {
			margin: 0 auto;
			h2 {
				text-align: center;
			}

			@if($type == ip){
				width: 60%;
				img{
					display: block;
					width: 20%;
					margin: 0 auto;
				}
			}@else{
				width: 40%;
				img {
					display: block;
					width: 20%;
					margin: 0 auto;
				}
			}
		}
		p {
			text-align: right;
		}
	}
}