@include common($type);

/* main */

#main {
	width: 100%;
	margin: 0;
	@include device($type);

	.content {
		@if ($type == ip){
			width: 100%;
			margin: 0 auto;
			float: none;
			img {
				width: 100%;
				margin: 0 auto;
			}	
		}	

		@if ($type == tab){
			width: 100%;
			margin: 0 auto;
			img {
				width: 60%;
				margin: 0 auto;
			}

		}

		@if ($type == pc){
			width: 100%;
			margin: 0 auto;
			img {
				width: 60%;
				margin: 0 auto;
			}
		}
	}


}