@include common ($type);

/* main */

#main {
	width: 100%;
	margin: 0 auto;
	@include device($type);
		
	.content {
		@if ($type == ip){
			width: 98%;
			margin: 0 auto;
			float: none;
			background: rgba(255,255,255,0.6);
			border: 2px solid rgba(200,200,200, 1);
			img{
				display: block;
				width: 80%;
				margin: 2% auto;
			}
			p {
				font-size: 1.4em;
				text-align: center;
				margin: 0 3%;
			}
		}
		@if ($type == tab){
			display: block;
			float: left;
			width: 49%;
			margin: 0 auto;
			background: rgba(255,255,255,0.6);
			border: 2px solid rgba(200,200,200, 1);
			img{
				display: block;
				width: 80%;
				margin: 2% auto;
			}
			p {
				font-size: 1.4em;
				text-align: center;
				margin: 0 3%;
			}
		}
		@if ($type == pc){
			display: block;
			width: 32.9%;
			float: left;
			margin: 0 auto;
			background: rgba(255,255,255,0.6);
			border: 2px solid rgba(200,200,200, 1);
			img{
				display: block;
				width: 80%;
				margin: 2% auto;
			}
			p {
				font-size: 1.4em;
				text-align: center;
				margin: 0 3%;
			}
			.clear {
				clear: none;
			}
			.clear_t{
				clear:both;
			}
		}
	}
}