@charset "utf-8";

$type:ip tab pc;
$smart: "only screen and (max-width: 480px)";
$tablet: "only screen and (min-width: 481px) and (max-width: 1169px)";
$desktop: "only screen and (min-width: 1170px)"; 

@import "reset";
@import "mixin";
@import "common";

@include header($type);
@include footer($type);

@media #{$smart}{
	$type:ip;
	@import "music";
}
@media #{$tablet}{
	$type:tab;
	@import "music";
}
@media #{$desktop}{
	$type:pc;
	@import "music";
}
