@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

@media only screen and (max-width: 480px) {
  /* content */
  html h1 {
    font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
  html p {
    font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif; }

  #wrap {
    width: 100%;
    margin: 0 auto; }

  header {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background: #ff3333; }
    header h1 {
      font-size: 2.5em; }
    header h2 {
      font-size: 1.4em; }
    header p {
      font-size: 1em; }
    header p, header h1 {
      padding-top: 1%;
      text-align: center; }

  #main {
    width: 100%;
    margin: 0 auto;
    background: #ff3333; }
    #main h1 {
      font-size: 2.5em; }
    #main h2 {
      font-size: 1.4em; }
    #main p {
      font-size: 1em; }
    #main .content {
      width: 33.3%;
      margin: 0 auto;
      float: none;
      width: 60%;
      margin: 0 auto; }
      #main .content img {
        display: block;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        border-radius: 100px;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px; }
    #main .content:active #acsess {
      visibility: visible;
      background: yellow; }
    #main .main_content {
      width: 100%;
      margin: 0 auto;
      visibility: hidden; }

  footer {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: right;
    background: #ff3333; }
    footer h1 {
      font-size: 2.5em; }
    footer h2 {
      font-size: 1.4em; }
    footer p {
      font-size: 1em; }

  .clear {
    clear: both; } }
@media only screen and (min-width: 481px) and (max-width: 1169px) {
  /* content */
  html h1 {
    font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
  html p {
    font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif; }

  #wrap {
    width: 100%;
    margin: 0 auto; }

  header {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background: #33ff33; }
    header h1 {
      font-size: 3.5em; }
    header h2 {
      font-size: 1.4em; }
    header p {
      font-size: 1.3em; }
    header p, header h1 {
      padding-top: 1%;
      text-align: center; }

  #main {
    width: 100%;
    margin: 0 auto;
    background: #33ff33; }
    #main h1 {
      font-size: 3.5em; }
    #main h2 {
      font-size: 1.4em; }
    #main p {
      font-size: 1.3em; }
    #main .content {
      width: 33.3%;
      margin: 0 auto;
      float: left; }
      #main .content img {
        display: block;
        width: 100%;
        border-radius: 15%;
        -moz-border-radius: 15%;
        -webkit-border-radius: 15%; }
    #main .content:active #acsess {
      visibility: visible;
      background: yellow; }
    #main .main_content {
      width: 100%;
      margin: 0 auto;
      visibility: hidden; }

  footer {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: right;
    background: #33ff33; }
    footer h1 {
      font-size: 3.5em; }
    footer h2 {
      font-size: 1.4em; }
    footer p {
      font-size: 1.3em; }

  .clear {
    clear: both; } }
@media only screen and (min-width: 1170px) {
  /* content */
  html h1 {
    font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
  html p {
    font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif; }

  #wrap {
    width: 100%;
    margin: 0 auto; }

  header {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    background: #3333ff; }
    header h1 {
      font-size: 4em; }
    header h2 {
      font-size: 1.4em; }
    header p {
      font-size: 1.3em; }
    header p, header h1 {
      padding-top: 1%;
      text-align: center; }

  #main {
    width: 100%;
    margin: 0 auto;
    background: #3333ff; }
    #main h1 {
      font-size: 4em; }
    #main h2 {
      font-size: 1.4em; }
    #main p {
      font-size: 1.3em; }
    #main .content {
      width: 33.3%;
      margin: 0 auto;
      float: left; }
      #main .content img {
        display: block;
        width: 100%; }
      #main .content article {
        visibility: hidden; }
    #main .content:hover {
      padding-bottom: 3%;
      background: rgba(200, 200, 200, 0.4); }
      #main .content:hover article {
        visibility: visible; }
    #main .content:active #acsess {
      visibility: visible;
      background: yellow; }
    #main .main_content {
      width: 100%;
      margin: 0 auto;
      visibility: hidden; }

  footer {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    text-align: right;
    background: #3333ff; }
    footer h1 {
      font-size: 4em; }
    footer h2 {
      font-size: 1.4em; }
    footer p {
      font-size: 1.3em; }

  .clear {
    clear: both; } }

/*# sourceMappingURL=style.css.map */
