/* Import file to css */
@import "compass/css3";
@import "reset";

/* variable */

$type: ip ipp tab pc; 
$Smart: "only screen and (max-width: 640px)";
$Tabllet: "only screen and (min-width: 641px) and (max-width: 840px)";
$PC: "only screen and (min-width: 1100px;)";

/* device-width */

@media #($Smart) {
	$type: ip;
	@import device;
}
@media #($Tabllet) {
	$type: tab;
	@import device;
}
@media #($PC) {
	$type: pc;
	@import device;
}