@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* header */
header {
  width: 100%;
  margin: 0 auto; }
  header p, header h1 {
    padding-top: 1%;
    text-align: center; }
  header img {
    display: block;
    width: 100%; }

/* footer */
footer {
  width: 100%; }
  footer #sns {
    width: 60%;
    margin: 0 auto; }
    footer #sns .sns {
      width: 100%;
      margin: 0 auto; }
    footer #sns img {
      display: block;
      float: left;
      width: 10%;
      margin: 0 auto; }
  footer #link {
    display: block;
    width: 30%;
    margin: 0 auto; }
    footer #link img {
      width: 20%;
      margin: 0 auto; }
  footer p {
    text-align: right; }

@media only screen and (max-width: 480px) {
  html {
    max-width: 1200px;
    margin: 0 auto;
    background: #ffda66; }
    html h1 {
      font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
    html p {
      font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif; }

  #wrap {
    width: 100%;
    margin: 0 auto; }

  /* main */
  #main {
    width: 100%;
    margin: 0 auto;
    background: #ffda66; }
    #main h1 {
      font-size: 2.5em;
      text-align: center; }
    #main h2 {
      font-size: 1.4em; }
    #main p {
      font-size: 1em; }
    #main #menu {
      width: 80%;
      margin: 0 auto; }
      #main #menu img {
        width: 40%;
        margin: 0 auto; }
    #main #works #up {
      width: 80%;
      margin: 0 auto; }
      #main #works #up img {
        border-bottom: 1px solid white; }
      #main #works #up .line {
        border-right: 1px solid white; }
    #main #works #down {
      width: 80%;
      margin: 0 auto; }
      #main #works #down img {
        border-top: 2px solid white; }
      #main #works #down .line {
        border-right: 2px solid white; }
    #main #access {
      width: 80%;
      margin: 0 auto; }
      #main #access .head {
        width: 40%;
        margin: 0 auto; }
        #main #access .head img {
          float: none;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%; }
      #main #access img {
        width: 40%; }
    #main .main_content {
      width: 100%;
      margin: 0 auto;
      visibility: hidden; }

  .content {
    width: 50%;
    margin: 0 auto;
    float: left;
    width: 50%;
    margin: 0 auto; }
    .content img {
      display: block;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%; }

  .content:active #acsess {
    visibility: visible;
    background: yellow; }

  .left {
    float: left; }

  .right {
    float: right; }

  .clear {
    clear: both; } }
@media only screen and (min-width: 481px) and (max-width: 1169px) {
  html {
    max-width: 1200px;
    margin: 0 auto;
    background: #ffda66; }
    html h1 {
      font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
    html p {
      font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif; }

  #wrap {
    width: 100%;
    margin: 0 auto; }

  /* main */
  #main {
    width: 100%;
    margin: 0 auto;
    background: #efefef; }
    #main h1 {
      font-size: 3.5em;
      text-align: center; }
    #main h2 {
      font-size: 1.4em; }
    #main p {
      font-size: 1.3em; }
    #main #menu {
      width: 80%;
      margin: 0 auto; }
      #main #menu img {
        width: 40%;
        margin: 0 auto; }
    #main #works #up {
      width: 80%;
      margin: 0 auto; }
      #main #works #up img {
        border-bottom: 1px solid white; }
      #main #works #up .line {
        border-right: 1px solid white; }
    #main #works #down {
      width: 80%;
      margin: 0 auto; }
      #main #works #down img {
        border-top: 2px solid white; }
      #main #works #down .line {
        border-right: 2px solid white; }
    #main #access {
      width: 80%;
      margin: 0 auto; }
      #main #access .head {
        width: 40%;
        margin: 0 auto; }
        #main #access .head img {
          float: none;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%; }
      #main #access img {
        width: 40%; }
    #main .main_content {
      width: 100%;
      margin: 0 auto;
      visibility: hidden; }

  .content {
    width: 50%;
    margin: 0 auto;
    float: left; }
    .content img {
      display: block;
      width: 100%;
      border-radius: 5%;
      -moz-border-radius: 5%;
      -webkit-border-radius: 5%; }

  .content:active #acsess {
    visibility: visible;
    background: yellow; }

  .left {
    float: left; }

  .right {
    float: right; }

  .clear {
    clear: both; } }
@media only screen and (min-width: 1170px) {
  html {
    max-width: 1200px;
    margin: 0 auto;
    background: #ffda66; }
    html h1 {
      font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
    html p {
      font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif; }

  #wrap {
    width: 100%;
    margin: 0 auto; }

  /* main */
  #main {
    width: 100%;
    margin: 0 auto;
    background: #efefef; }
    #main h1 {
      font-size: 4em;
      text-align: center; }
    #main h2 {
      font-size: 1.4em; }
    #main p {
      font-size: 1.3em; }
    #main #menu {
      width: 80%;
      margin: 0 auto; }
      #main #menu img {
        width: 40%;
        margin: 0 auto; }
    #main #works #up {
      width: 80%;
      margin: 0 auto; }
      #main #works #up img {
        border-bottom: 1px solid white; }
      #main #works #up .line {
        border-right: 1px solid white; }
    #main #works #down {
      width: 80%;
      margin: 0 auto; }
      #main #works #down img {
        border-top: 2px solid white; }
      #main #works #down .line {
        border-right: 2px solid white; }
    #main #access {
      width: 80%;
      margin: 0 auto; }
      #main #access .head {
        width: 40%;
        margin: 0 auto; }
        #main #access .head img {
          float: none;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%; }
      #main #access img {
        width: 40%; }
    #main .main_content {
      width: 100%;
      margin: 0 auto;
      visibility: hidden; }

  .content {
    width: 50%;
    margin: 0 auto;
    float: left; }
    .content img {
      display: block;
      width: 100%; }
    .content article {
      visibility: hidden; }

  .content:hover article {
    visibility: visible; }

  .content:active #acsess {
    visibility: visible;
    background: yellow; }

  .left {
    float: left; }

  .right {
    float: right; }

  .clear {
    clear: both; } }

/*# sourceMappingURL=style.css.map */
