@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.4.1
2010-03-01
Author: Richard Clark - http://richclarkdesign.com
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

@media only screen and (max-width: 480px) {
  html {
    max-width: 1200px;
    margin: 0 auto;
    background: #fef8de; }
    html h1 {
      font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
    html p {
      font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif; }

  #wrap {
    width: 100%;
    margin: 0 auto; }

  /* header */
  header {
    background: #facc66; }
    header h1 {
      font-size: 1.3em;
      text-align: center;
      color: #303030; }
    header h2 {
      font-size: 1.4em;
      color: #303030; }
    header p {
      font-size: 1em;
      color: #303030; }
    header article {
      font-size: 1.1em;
      color: #303030; }
    header p, header h1 {
      padding-top: 1%;
      text-align: center; }
    header img {
      display: block;
      width: 100%; }

  /* footer */
  footer {
    width: 100%;
    margin: 0 auto;
    padding: 3% 0; }
    footer #sns {
      width: 70%;
      background: rgba(150, 150, 150, 0.7);
      margin: 0 auto;
      padding: 3% 0;
      border: solid 2px rgba(250, 250, 250, 0.5); }
      footer #sns .sns {
        display: block;
        width: 33%;
        margin: 0 auto;
        float: left; }
      footer #sns img {
        display: block;
        width: 50%;
        margin: 0 auto; }
      footer #sns h2 {
        font-size: 1em;
        text-align: center;
        color: white; }
    footer #link {
      margin: 2% auto;
      width: 60%; }
      footer #link h2 {
        text-align: center;
        margin-top: 3%; }
      footer #link a {
        text-decoration: none;
        color: #303030; }
      footer #link img {
        display: block;
        width: 20%;
        margin: 0 auto; }
    footer p {
      text-align: right; }

  /* main */
  #main {
    width: 100%;
    margin: 0;
    background: #facc66; }
    #main h1 {
      font-size: 1.3em;
      text-align: center;
      color: #303030; }
    #main h2 {
      font-size: 1.4em;
      color: #303030; }
    #main p {
      font-size: 1em;
      color: #303030; }
    #main article {
      font-size: 1.1em;
      color: #303030; }
    #main #menu {
      background: rgba(250, 250, 250, 0.1);
      width: 90%;
      margin: 0 auto; }
      #main #menu .images {
        width: 100%;
        margin: 0;
        float: none; }
        #main #menu .images img {
          width: 100%; }
      #main #menu .dis {
        width: 100%;
        margin: 0; }
        #main #menu .dis img {
          width: 100%;
          margin: 0; }
        #main #menu .dis article {
          width: 100%; }
    #main #works {
      width: 90%;
      margin: 0 auto; }
      #main #works #up {
        display: block;
        width: 100%;
        margin: 0 auto; }
      #main #works #down {
        display: block;
        width: 100%;
        margin: 0 auto; }
    #main #access {
      width: 90%;
      margin: 0 auto; }
      #main #access .head {
        width: 100%;
        text-align: center; }
        #main #access .head a {
          text-decoration: none; }
      #main #access .maps {
        width: 100%; }
        #main #access .maps img {
          display: block;
          width: 100%;
          float: none;
          margin-bottom: 5%; }
        #main #access .maps article {
          width: 100%; }
    #main .arti {
      width: 100%; }
      #main .arti img {
        width: 100%;
        float: none; }
      #main .arti article {
        width: 100%;
        float: none;
        font-size: 1.18em;
        margin: 3% auto; }

  .content {
    background: rgba(240, 240, 240, 0.1);
    display: block;
    width: 48%;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.6);
    width: 80%;
    margin: 0 auto; }
    .content img {
      display: block;
      width: 90%;
      height: 90%;
      margin: 0 auto;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%; }

  .about {
    width: 60%;
    margin: 0.5% auto;
    text-align: center; }

  .left {
    float: left; }

  .right {
    float: right; }

  .clear {
    clear: both; } }
@media only screen and (min-width: 481px) and (max-width: 899px) {
  html {
    max-width: 1200px;
    margin: 0 auto;
    background: #fef8de; }
    html h1 {
      font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
    html p {
      font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif; }

  #wrap {
    width: 100%;
    margin: 0 auto; }

  /* header */
  header {
    background: #fae8aa; }
    header h1 {
      font-size: 1.5em;
      text-align: center;
      color: #303030; }
    header h2 {
      font-size: 1.4em;
      color: #303030; }
    header p {
      font-size: 1.3em;
      color: #303030; }
    header article {
      font-size: 1.2em;
      color: #303030; }
    header p, header h1 {
      padding-top: 1%;
      text-align: center; }
    header img {
      display: block;
      width: 100%; }

  /* footer */
  footer {
    width: 100%;
    margin: 0 auto;
    padding: 3% 0; }
    footer #sns {
      width: 70%;
      background: rgba(150, 150, 150, 0.7);
      margin: 0 auto;
      padding: 3% 0;
      border: solid 2px rgba(250, 250, 250, 0.5); }
      footer #sns .sns {
        display: block;
        width: 33%;
        margin: 0 auto;
        float: left; }
      footer #sns img {
        display: block;
        margin: 0 auto; }
      footer #sns h2 {
        font-size: 1.3em;
        text-align: center;
        color: white; }
    footer #link {
      margin: 2% auto;
      width: 40%; }
      footer #link h2 {
        text-align: center;
        margin-top: 3%; }
      footer #link a {
        text-decoration: none;
        color: #303030; }
      footer #link img {
        display: block;
        width: 20%;
        margin: 0 auto; }
    footer p {
      text-align: right; }

  /* main */
  #main {
    width: 100%;
    margin: 0;
    background: #fae8aa; }
    #main h1 {
      font-size: 1.5em;
      text-align: center;
      color: #303030; }
    #main h2 {
      font-size: 1.4em;
      color: #303030; }
    #main p {
      font-size: 1.3em;
      color: #303030; }
    #main article {
      font-size: 1.2em;
      color: #303030; }
    #main #menu {
      background: rgba(250, 250, 250, 0.1);
      width: 90%;
      margin: 0 auto; }
      #main #menu .images {
        width: 100%;
        margin: 0;
        float: none; }
        #main #menu .images img {
          display: block;
          width: 70%;
          margin: 0 auto; }
      #main #menu .dis {
        width: 70%;
        margin: 0 auto; }
        #main #menu .dis img {
          width: 50%;
          float: left; }
        #main #menu .dis article {
          width: 46%;
          float: left;
          margin: 6% 0 0 4%; }
    #main #works {
      width: 90%;
      margin: 0 auto; }
      #main #works #up {
        display: block;
        width: 100%;
        margin: 0 auto; }
      #main #works #down {
        display: block;
        width: 100%;
        margin: 0 auto; }
    #main #access {
      width: 90%;
      margin: 0 auto; }
      #main #access .head {
        width: 100%;
        text-align: center; }
        #main #access .head a {
          text-decoration: none; }
      #main #access .maps {
        width: 100%; }
        #main #access .maps img {
          display: block;
          width: 60%;
          float: left;
          margin-bottom: 5%; }
        #main #access .maps article {
          width: 30%;
          float: left;
          margin: 5%; }
    #main .arti {
      width: 100%; }
      #main .arti img {
        width: 50%;
        float: left; }
      #main .arti article {
        width: 46%;
        float: left;
        margin: 6% 0 0 4%; }

  .content {
    background: rgba(240, 240, 240, 0.1);
    display: block;
    width: 48%;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.6);
    float: left; }
    .content img {
      display: block;
      width: 100%;
      height: 80%;
      margin: 0 auto;
      border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%; }
    .content p {
      text-align: center; }

  .about {
    width: 60%;
    margin: 0.5% auto;
    text-align: center; }

  .left {
    float: left; }

  .right {
    float: right; }

  .clear {
    clear: both; } }
@media only screen and (min-width: 900px) {
  html {
    max-width: 1200px;
    margin: 0 auto;
    background: #fef8de; }
    html h1 {
      font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; }
    html p {
      font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif; }

  #wrap {
    width: 100%;
    margin: 0 auto; }

  /* header */
  header {
    background: #fee199; }
    header h1 {
      font-size: 1.7em;
      text-align: center;
      color: #303030; }
    header h2 {
      font-size: 2em;
      color: #303030; }
    header p {
      font-size: 1.3em;
      color: #303030; }
    header article {
      font-size: 1.35em;
      color: #303030; }
    header p, header h1 {
      padding-top: 1%;
      text-align: center; }
    header img {
      display: block;
      width: 100%; }

  /* footer */
  footer {
    width: 100%;
    margin: 0 auto;
    padding: 3% 0; }
    footer #sns {
      width: 70%;
      background: rgba(150, 150, 150, 0.7);
      margin: 0 auto;
      padding: 3% 0;
      border: solid 2px rgba(250, 250, 250, 0.5); }
      footer #sns .sns {
        display: block;
        width: 33%;
        margin: 0 auto;
        float: left; }
      footer #sns img {
        display: block;
        margin: 0 auto; }
      footer #sns h2 {
        font-size: 1.3em;
        text-align: center;
        color: white; }
    footer #link {
      margin: 2% auto;
      width: 40%; }
      footer #link h2 {
        text-align: center;
        margin-top: 3%; }
      footer #link a {
        text-decoration: none;
        color: #303030; }
      footer #link img {
        display: block;
        width: 20%;
        margin: 0 auto; }
    footer p {
      text-align: right; }

  /* main */
  #main {
    width: 100%;
    margin: 0;
    background: #fee199; }
    #main h1 {
      font-size: 1.7em;
      text-align: center;
      color: #303030; }
    #main h2 {
      font-size: 2em;
      color: #303030; }
    #main p {
      font-size: 1.3em;
      color: #303030; }
    #main article {
      font-size: 1.35em;
      color: #303030; }
    #main #menu {
      background: rgba(250, 250, 250, 0.1);
      width: 90%;
      margin: 0 auto; }
      #main #menu .images {
        width: 100%;
        margin: 0;
        float: none; }
        #main #menu .images img {
          display: block;
          width: 70%;
          margin: 0 auto; }
      #main #menu .dis {
        width: 70%;
        margin: 0 auto; }
        #main #menu .dis img {
          width: 50%;
          float: left; }
        #main #menu .dis article {
          width: 46%;
          float: left;
          margin: 6% 0 0 4%; }
    #main #works {
      width: 90%;
      margin: 0 auto; }
      #main #works #up {
        display: block;
        width: 100%;
        margin: 0 auto; }
      #main #works #down {
        display: block;
        width: 100%;
        margin: 0 auto; }
    #main #access {
      width: 90%;
      margin: 0 auto; }
      #main #access .head {
        width: 100%;
        text-align: center; }
        #main #access .head a {
          text-decoration: none; }
      #main #access .maps {
        width: 100%; }
        #main #access .maps img {
          display: block;
          width: 60%;
          float: left;
          margin-bottom: 5%; }
        #main #access .maps article {
          width: 30%;
          float: left;
          margin: 5%; }
    #main .arti {
      width: 100%; }
      #main .arti img {
        width: 50%;
        float: left; }
      #main .arti article {
        width: 46%;
        float: left;
        margin: 6% 0 0 4%; }

  .content {
    background: rgba(240, 240, 240, 0.1);
    display: block;
    width: 48%;
    margin: 0 auto;
    border: 2px solid rgba(255, 255, 255, 0.6);
    float: left; }
    .content img {
      display: block;
      width: 100%;
      height: 60%;
      margin: 0 auto;
      /*border-radius: 50%;
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%; */ }

  .about {
    width: 60%;
    margin: 0.5% auto;
    text-align: center; }

  .left {
    float: left; }

  .right {
    float: right; }

  .clear {
    clear: both; } }

/*# sourceMappingURL=style.css.map */
